.App {
  text-align: center;
}
header,
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: darkcyan;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  padding: 2%;
}
.header2 {
  display: flex;
  gap: 40px;
  margin-right: 0%;
  margin-left: auto;
}
